* {
    margin: 0;
}

td {
    text-align: center;
    font-size: larger;
}

#header {
    white-space: nowrap;
    overflow: hidden;
    background: indianred;
    font-size: large;
    color: lightcyan;
    height: 30px
}

#username {
    font: normal bold large "Times New Roman";
}

#leftCover {
    height: 350px;
    width: 45%;
    float: left;
    background-image: url("../icon/zt.jpg");
    background-size: contain;
    white-space: nowrap;
    overflow: hidden;
}

#rightCover {
    height: 350px;
    width: 55%;
    background-color: cornflowerblue;
    float: left;
}

#toutiao {
    font: normal bold large "Times New Roman";
    float: right;
    padding-right: 5px;
}

#ads img {
    margin-top: 5px;
}

#subaotable {
    line-height: 120%;
    font: normal bold large "Times New Roman";
}


#foot {
    width: 100%;
    height: 100px;
    padding-top: 40px;
}

#gongshang {
    float: left;
}

#beizhu {
    float: left;
    margin-left: 30%;
    margin-top: 4%;
    color: black;
}

#gongan {
    float: right;
}

div.item img {
    width: 100%;
    height: 350px;
}

div#carousel-example-generic {
    height: 350px;
    width: 100%;
    margin: 0 auto;
}
