<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>会员登录与注册</title>
    <script src="../static/js/jquery-3.3.1.js"></script>
    <link href="../static/css/login.css" rel="stylesheet"/>
    <link href="../static/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet"/>
    <script src="../static/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/additional-methods.min.js"></script>
</head>
<body>
<h1 class="text-warning">会员登录/注册</h1>

<form enctype="multipart/form-data" id="registerAndLogin" method="post">
    <label class="text-warning">昵称<b style="color: orangered">*</b>：</label>
    <input class="btn-default" id="accountName" name="name" placeholder="请输入中文或英文" type="text">
    <span id="checkResult"></span>
    <br/>
    <label class="text-warning">密码<b style="color: orangered">*</b>：</label>
    <input class="password btn-default" id="password" name="password" placeholder="请输入密码" type="password"><br/>

    <label class="text-warning">验证<b style="color: orangered">*</b>：</label>
    <!--equalTo用于比较2个输入框的值，故只能设置为input而非其他-->
    <input class="btn disabled btn-danger randomCode" id="randomCode" name="randomCode" style="width: 60px">

    <input class="confirmCode btn-default" id="confirmCode" name="confirmCode" placeholder="请输入左侧验证码"
           style="width: 120px"
           type="text">

    <br>
    <button class="text-warning" id="login" style="font-size:large;">登录</button>
    <span id="logResult"></span>
    <br>
    <label class="text-warning">密码<b style="color: orangered">*</b>：</label>
    <input class="left btn-default" id="password_again" name="password_again" placeholder="注册时请再次输入密码" type="password"/><br/>
    <label class="text-warning">头像<b style="color: orangered">*</b>：</label>
    <!--此处name必须是file?-->
    <input id="userPhoto" name="file" type="file">
    <br>
    <!--todo:若客户未上传头像，则使用默认头像-->
    <img id="usersPhoto" src="../static/img/icon/defaultPhoto.jpg" style="width:100px;height:100px;">
    <br>
    <button class="text-warning" id="register" style="font-size: large;">注册</button>
    <span id="registerResult"></span>
    <!--<button class="btn btn-primary" id="register" type="submit">注册</button>-->
    <!--不能有submit-->
</form>
<hr>
<button class="hitme text-warning" id="hit" type="button">点我</button>
<button class="text-warning" id="hideAndShow" type="button">点我有惊喜</button>


<script src="../static/js/loginjs.js"></script>

</body>
</html>
